<div class="marker-info-window">
  <h3>{{model.name}}</h3>

  <div>
    <div><a href="{{model.intelUrl}}" target = "Intel">Intel Map</a></div>
    <div><a href="{{model.mapsUrl}}" target = "Maps">Google Map</a></div>
  </div>
  <h4>{{model.area}}</h4>
</div>