<div id = "reset-pw" class ="small-8 medium-4 large-3 small-centered medium-centered large-centered columns">
  <div class="login-box">
    <div class="row">
      <div class="columns">
        <form {{action 'resetPw' on='submit'}}>
           <div class="row">
             <div class="columns">
    	  		   {{input name = 'email' placeholder='email' value=email}}
             </div>
           </div>
          <div class="row">
            <div class="centered columns">
              <input type="submit" class="expand button" value="Reset Password"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{outlet}}
