<div class = 'row'>
	<div class = 'large-4 large-centered column'>
		Your account as been created.  An activation link has been sent to your SD Enlightened Slack account. Please check your "Slackbot" channel and click on the link there to complete activation and log in.
		<p>
		Thank you!
		</p>
	</div>
</div>

{{outlet}}
